    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Highlights</h2>
                    <p>ISO9001:2000INTERNALAUDITOR,
                     PrimaveraProjectPlanner(P3),
                     PrimaveraProjectPlanerforEnterprise(P6),
                     MSProject,
                     MicrosoftOffice,
                     DCC,
                     PMIS,
                     DORSASoftware,
                     AutoCAD,
                     ProjectControl,
                     PrimaveraP6,
                     ProjectManagement,
                     ProcessEngineering,
                     Iso9000,Engineering,
                     Commissioning,
                     Factory,
                     CustomerService,
                     AlwaysPunctual,
                     MultiTasking,
                     HighlyReliable,
                     MicrosoftExcel,
                     MicrosoftProject,
                     Ruby,
                     RubyonRails,
                     SublimeText,
                     Vagrant,
                     CSS,
                     Bootstrap,
                     HTML5,
                     JavaScript,
                     jQuery,
                     Git,
                     Github,
                     WebDevelopment,
                     Test Driven Development,
                     Responsive Web Design</p>
                  <!--   <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
                </div>
            </div>
        </div>
    </section>